# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
dist/
build/
*.egg-info/
.eggs/

# Notebooks
.ipynb_checkpoints/
*.ipynb

# Datos y modelos
*.pkl
*.pickle
*.h5
*.pb
*.joblib
data/
models/
*.csv
*.json
*.html
*.png
*.txt

# Logs
logs/
*.log

# MLflow
mlruns/
mlflow.db

# DVC
.dvc/
*.dvc
*.lock

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.key
*.pem
