numpy==2.0.0
fastapi==0.115.2
starlette==1.0.1
protobuf==5.29.1
scikit-learn==1.6.0
pydantic==2.9.2
gradio==5.9.1
uvicorn==0.34.0
scipy==1.14.1
opencv-python-headless==4.10.0.84
rasterio==1.4.3
tobler==0.13.1
xarray-einstats==0.9.0
hdbscan==0.8.39
albumentations==1.4.3
google-genai==1.0.0
pyngrok
nest_asyncio
